.banner {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  @media screen and (min-width: 480px) {
    background-image: url('../images/header.png');
    width: 100%;
    height: 30vh;
  }

  @media screen and (max-width: 479x) {

    // background-image: url('../images/bannière_mobile.png');
    width: 100%;
    background-color: antiquewhite;
    height: 20vh;

  }
}





.logoteam {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 414px) {
    width: 5rem;

  }
}

.borderpurple {
  border-top: purple 2px solid;

}

.borderorange {
  border-top: orange 2px solid;

}

.bordergreen {
  border-top: green 2px solid;
}


.borderred {
  border-top: red 2px solid;
}

// .number {
//     width: fit-content;
// }
.club {
  width: 45%;
  text-align: start;

  @media screen and (max-width: 480px) {
    width: auto;
  

  }
}

.news {
  background-color: #262624;
  color: white;

  @media screen and (max-width: 480px) {
    display: none;

  }
}

.chrono {
  @media screen and (max-width: 414px) {
    display: none;

  }
}

// .table,
// .table tbody,
// .table tr,
// .table th,
// .table td {
//   background-color: #262624 !important;
//   color: white !important;
// }
thead {
  th {
    background-color: black;
  }
}

.legende {
  background-color: #262624;

}